In [42]:
import pandas as pd
import numpy as np
import random
import math

import pyltr
from sklearn.model_selection import train_test_split

# Function to sample queries
def sample_queries(df, frac):
    srch_ids = df["srch_id"].unique()[0:int(len(df)*frac)]
    return df.loc[df.srch_id.isin(srch_ids)]

# Train, validation and test set generated from the train set
_train = pd.read_csv("data/processed/_train_undersampled.csv")
_val = pd.read_csv("data/processed/_val.csv")
_test = pd.read_csv("data/processed/_test.csv")

# The actual test set that will be used to submit our final result
test = pd.read_csv("data/processed/kaggle_test.csv")

# The properties that will be used for submitting the final result
Sprops = test["prop_id"]

# To speed up execution we'll just sample for now
_train = sample_queries(_train, 0.1)
_val = sample_queries(_val, 0.2)
_test = sample_queries(_test, 1)

In [43]:
_train.head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool,price_usd_mean,price_usd_median,prop_starrating_mean,prop_starrating_median,prop_review_score_mean,prop_review_score_median
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,50984,2,0.0,...,NaN,0,NaN,0,163.718929,139.05,3.071429,3.0,3.482143,3.5
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,68914,2,3.0,...,11.0,1,114.29,1,163.718929,139.05,3.071429,3.0,3.482143,3.5
2,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,64344,4,3.0,...,NaN,0,NaN,0,265.562500,263.00,3.093750,3.5,3.906250,4.0
3,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,139893,2,3.0,...,NaN,1,NaN,0,265.562500,263.00,3.093750,3.5,3.906250,4.0
4,6,2013-06-05 12:27:51,14,100,NaN,NaN,100,10759,0,2.0,...,NaN,0,NaN,0,125.470000,115.03,1.400000,2.0,3.100000,4.0

In [44]:
_train.shape

(77500, 60)

In [45]:
len(_train.loc[_train.booking_bool == 1]) / len(_train) * 100

31.36258064516129

In [46]:
len(_train.loc[(_train.click_bool == 1) & (_train.booking_bool == 0)]) / len(_train) * 100

19.13290322580645

In [47]:
len(_train.loc[_train.click_bool == 0]) / len(_train) * 100

49.504516129032254

In [48]:
# Generate target label
for df in [_train, _val, _test]:
    df["relevance"] = df.click_bool + df.booking_bool
    df.relevance = df.relevance.map(lambda r: 5 if r > 1 else r)

In [49]:
# Generate price difference feature
for df in [_train, _val, _test, test]:
    df["price_usd_diff"] = df["price_usd"] - df["price_usd_mean"]
    df["prop_starrating_diff"] = df["prop_starrating"] - df["prop_starrating_mean"] # Seems to be a bad feature

In [50]:
# Fill missing values (need better methods for each feature)
for df in [_train, _val, _test, test]:
    df.fillna(-1, inplace=True)

In [51]:
# Select properties we care about (kind of arbitrary right now)
features = ["srch_id", "site_id", "prop_country_id", "prop_starrating", "prop_review_score", "prop_brand_bool",
            "prop_location_score1", "prop_location_score2", "price_usd", "promotion_flag", "srch_destination_id",
            "srch_length_of_stay", "srch_adults_count", "srch_children_count", "srch_room_count",
            "prop_starrating_median", "prop_starrating_mean"
            "price_usd_median", "price_usd_mean", "price_usd_diff",
            "relevance"]

_train = _train[features]
_val = _val[features]
_test = _test[features]
test = test[features[0:-1]]

_train.head()

,srch_id,site_id,prop_country_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,prop_location_score2,price_usd,promotion_flag,...,srch_adults_count,srch_children_count,srch_room_count,prop_starrating_median,prop_starrating_mean,prop_starrating_diff,price_usd_median,price_usd_mean,price_usd_diff,relevance
0,1,12,219,2,0.0,0,1.61,-1.0000,85.37,0,...,4,0,1,3.0,3.071429,-1.071429,139.05,163.718929,-78.348929,0
1,1,12,219,2,3.0,1,2.20,0.0206,100.89,0,...,4,0,1,3.0,3.071429,-1.071429,139.05,163.718929,-62.828929,5
2,4,5,219,4,3.0,1,1.79,-1.0000,267.00,0,...,1,0,1,3.5,3.093750,0.906250,263.00,265.562500,1.437500,0
3,4,5,219,2,3.0,1,1.61,0.0309,129.00,0,...,1,0,1,3.5,3.093750,-1.093750,263.00,265.562500,-136.562500,1
4,6,14,100,0,2.0,0,1.95,-1.0000,97.63,0,...,2,0,1,2.0,1.400000,-1.400000,115.03,125.470000,-27.840000,0

In [52]:
def split_X_y_qids(df):
    X = df.drop(["srch_id", "relevance"], axis=1)
    y = df.relevance
    qids = df.srch_id
    return (X, y, qids)
    
TX, Ty, Tqids = split_X_y_qids(_train)
VX, Vy, Vqids = split_X_y_qids(_val)
EX, Ey, Eqids = split_X_y_qids(_test)

# Train model
metric = pyltr.metrics.NDCG(k=38)

monitor = pyltr.models.monitors.ValidationMonitor(
    VX, Vy, Vqids, metric=metric, stop_after=100)

model = pyltr.models.LambdaMART(
    metric=metric,
    n_estimators=100,
    learning_rate=0.1,
    max_features=0.5,
    query_subsample=0.5,
    max_leaf_nodes=10,
    min_samples_leaf=64,
    verbose=1
)
model.fit(TX, Ty, Tqids, monitor=monitor)

 Iter  Train score  OOB Improve    Remaining                           Monitor Output
    1       0.8150       0.1889       15.91m      C:      0.3466 B:      0.3466 S:  0
    2       0.8397       0.0265       13.16m      C:      0.3853 B:      0.3853 S:  0
    3       0.8583       0.0169       12.16m      C:      0.4149 B:      0.4149 S:  0
    4       0.8668       0.0089       11.60m      C:      0.4313 B:      0.4313 S:  0
    5       0.8707       0.0041       11.26m      C:      0.4427 B:      0.4427 S:  0
    6       0.8717       0.0002       10.99m      C:      0.4438 B:      0.4438 S:  0
    7       0.8735       0.0015       10.76m      C:      0.4465 B:      0.4465 S:  0
    8       0.8757       0.0004       10.54m      C:      0.4496 B:      0.4496 S:  0
    9       0.8757       0.0019       10.36m      C:      0.4543 B:      0.4543 S:  0
   10       0.8776       0.0015       10.18m      C:      0.4562 B:      0.4562 S:  0
   15       0.8829       0.0008        9.46m      C:      0.4694 B:      0.4694 S:  0
   20       0.8838       0.0002        8.82m      C:      0.4743 B:      0.4743 S:  0
   25       0.8845       0.0001        8.22m      C:      0.4781 B:      0.4783 S:  1
   30       0.8860       0.0002        7.64m      C:      0.4802 B:      0.4802 S:  0
   35       0.8869      -0.0000        7.08m      C:      0.4838 B:      0.4838 S:  0
   40       0.8889      -0.0000        6.52m      C:      0.4851 B:      0.4851 S:  0
   45       0.8899       0.0004        5.97m      C:      0.4861 B:      0.4861 S:  0
   50       0.8902       0.0000        5.42m      C:      0.4876 B:      0.4876 S:  0
   60       0.8921       0.0004        4.34m      C:      0.4895 B:      0.4895 S:  0
   70       0.8923       0.0002        3.25m      C:      0.4904 B:      0.4904 S:  1
   80       0.8915      -0.0001        2.17m      C:      0.4908 B:      0.4909 S:  8
   90       0.8933       0.0002        1.08m      C:      0.4908 B:      0.4909 S: 18
Early termination at iteration  99

In [53]:
# Test model locally
Epred = model.predict(EX)
metric.calc_mean(Eqids, Ey.as_matrix(), Epred)

0.49064825747265112

In [54]:
# Predict final submission order
SX = test.drop("srch_id", axis=1)
Sqids = test["srch_id"]
Spred = model.predict(SX)

In [55]:
# Create submission data frame
result = pd.DataFrame()
result["SearchId"] = Sqids
result["PropertyId"] = Sprops
result["Sort"] = Spred
result = result.sort(["SearchId", "Sort"], ascending=False)
result

C:\Users\Richard\AppData\Local\conda\conda\envs\py35\lib\site-packages\ipykernel\__main__.py:6: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

         SearchId  PropertyId      Sort
6622620    665571      108152  1.368215
6622614    665571       52204  0.929147
6622621    665571      111905  0.873768
6622607    665571       30880  0.705605
6622600    665571       10681  0.434237
6622625    665571      127979  0.413386
6622611    665571       42127  0.412679
6622616    665571       58641  0.161567
6622598    665571        2312  0.099100
6622604    665571       27221 -0.068251
6622618    665571       80863 -0.073505
6622609    665571       36329 -0.145828
6622613    665571       51617 -0.156077
6622612    665571       48556 -0.224828
6622624    665571      125641 -0.249485
6622627    665571      138555 -0.277540
6622602    665571       15439 -0.298702
6622601    665571       13398 -0.337232
6622628    665571      140396 -0.365600
6622623    665571      119669 -0.408665
6622610    665571       41632 -0.450765
6622626    665571      134459 -0.583497
6622608    665571       35087 -0.634889
6622605    665571       27633 -0.687204
6622599    665571        2369 -0.732160
6622619    665571       94446 -0.784706
6622615    665571       52283 -0.813609
6622622    665571      113504 -1.085797
6622606    665571       27952 -1.307919
6622603    665571       21231 -1.500711
...           ...         ...       ...
18              3       19731 -0.603255
13              3        4610 -0.661633
45              3      139893 -0.689200
42              3      119952 -0.842775
36              3      103937 -0.849225
40              3      117667 -0.974372
20              3       27317 -1.014432
31              3       70568 -1.161275
21              3       35245 -1.197984
14              3        5541 -1.356258
25              3       44497 -1.498843
32              3       72684 -1.523768
39              3      117177 -1.540233
19              3       24996 -1.738822
22              3       36029 -1.742915
15              3        9253 -1.797798
34              3       88345 -1.797798
5               2       25579  0.772960
2               2        7374  0.559250
6               2       26540  0.478326
1               2        6399  0.146885
10              2       78858 -0.004230
8               2       30434 -0.017728
12              2      131173 -0.098711
11              2       91899 -0.142297
3               2        7771 -0.682134
4               2       12938 -0.759803
7               2       27090 -0.775824
9               2       37331 -0.851258
0               2        3105 -1.001571

[6622629 rows x 3 columns]

In [56]:
# Write submission to file
result = result.drop("Sort", axis=1)
result.to_csv("submission.csv", index=False)