In [1]:
import pandas as pd
import numpy as np
import random

from sklearn.model_selection import train_test_split

# Function to sample queries
def sample_queries(df, frac):
    srch_ids = pd.Series(df["srch_id"].unique()).sample(frac=frac, random_state=42)
    return df.loc[df.srch_id.isin(srch_ids)]

in_train = pd.read_csv("data/training_set_VU_DM_2014.csv")
#in_test = pd.read_csv("data/testing_set_VU_DM_2014.csv")
in_test = pd.read_csv("data/kaggle_test.csv")
#in_test = in_train.drop(["click_bool", "booking_bool", "position", "gross_bookings_usd"], axis=1).head(n=0)

# Speed up execution
#in_train = sample_queries(in_train, 0.1)

in_train.head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0

In [2]:
# Add mean, median and std per property for a variety of numericals
def add_mean_median_std_per_factor(df, factor, numerical, prefix):
    grouped = df.groupby(factor)[numerical]
    mean_by_factor = grouped.mean().to_dict()
    median_by_factor = grouped.median().to_dict()
    std_by_factor = grouped.std().to_dict()
    
    df[prefix + "_mean_" + numerical] = df[factor].map(lambda f: mean_by_factor[f])
    df[prefix + "_median_" + numerical] = df[factor].map(lambda f: median_by_factor[f])
    df[prefix + "_std_" + numerical] = df[factor].map(lambda f: std_by_factor[f])
    
for df in [in_train, in_test]:
    f = add_mean_median_std_per_factor
    f(df, "srch_id", "price_usd", "srch")
    f(df, "srch_id", "prop_starrating", "srch")
    f(df, "srch_id", "prop_review_score", "srch")
    
    f(df, "srch_destination_id", "price_usd", "dest")
    f(df, "srch_destination_id", "prop_starrating", "dest")
    f(df, "srch_destination_id", "prop_review_score", "dest")
    
    f(df, "prop_id", "price_usd", "prop")
    f(df, "prop_id", "prop_review_score", "prop")
    
in_train.head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,dest_std_prop_starrating,dest_mean_prop_review_score,dest_median_prop_review_score,dest_std_prop_review_score,prop_mean_price_usd,prop_median_price_usd,prop_std_price_usd,prop_mean_prop_review_score,prop_median_prop_review_score,prop_std_prop_review_score
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,0.813616,3.760563,4.0,0.7554,118.758742,118.0,17.778734,3.5,3.5,0.0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,0.813616,3.760563,4.0,0.7554,152.054082,129.0,390.928573,4.0,4.0,0.0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,0.813616,3.760563,4.0,0.7554,168.540871,165.0,345.479493,4.5,4.5,0.0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,0.813616,3.760563,4.0,0.7554,82.598870,65.1,305.765579,4.0,4.0,0.0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,0.813616,3.760563,4.0,0.7554,137.648135,117.0,433.301637,3.5,3.5,0.0

In [4]:
# Split on search ids
srch_ids = in_train["srch_id"].unique()
srch_ids_train, srch_ids_test_val = train_test_split(srch_ids, test_size=0.2, random_state = 42)
srch_ids_test, srch_ids_val = train_test_split(srch_ids_test_val, test_size=0.5, random_state = 42)

_train = in_train.loc[in_train.srch_id.isin(srch_ids_train)]
_val = in_train.loc[in_train.srch_id.isin(srch_ids_val)]
_test = in_train.loc[in_train.srch_id.isin(srch_ids_test)]

In [5]:
# Estimate probability of being clicked and booked
#grouped = _train.groupby("prop_id")    
#click_prob_by_prop = grouped.click_bool.mean().to_dict()
#book_prob_by_prop = grouped.booking_bool.mean().to_dict()

#mean_click_prob = in_train.click_bool.mean()
#mean_book_prob = in_train.booking_bool.mean()
    
#for df in [_train, _val, _test, in_test]:
#    df["click_probability"] = df.prop_id.map(lambda p: click_prob_by_prop.setdefault(p, mean_click_prob))
#    df["booking_probability"] = df.prop_id.map(lambda p: book_prob_by_prop.setdefault(p, mean_book_prob))

In [6]:
# Undersample a series so that there are as many non-clicked items as clicked and booked
def downsample_series(s):
    s1 = s.loc[s.click_bool == 1]
    s2 = s.loc[s.click_bool == 0]
    
    if (len(s2) == 0):
        return s1
    
    s2 = s2.sample(frac=min(1, len(s1)/len(s)))
    return s1.append(s2).sort_index()

_train_undersampled = _train.groupby("srch_id").apply(downsample_series).reset_index(drop=True)

In [7]:
# Save to CSV
#_train.to_csv("data/processed/_train.csv", index=False)
_val.to_csv("data/processed/_val.csv", index=False)
_test.to_csv("data/processed/_test.csv", index=False)
_train_undersampled.to_csv("data/processed/_train_undersampled.csv", index=False)
in_test.to_csv("data/processed/kaggle_test.csv", index=False)

In [8]:
in_test.head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,dest_std_prop_review_score,prop_mean_price_usd,prop_median_price_usd,prop_std_price_usd,prop_mean_prop_review_score,prop_median_prop_review_score,prop_std_prop_review_score,price_norm_srch,price_norm_prop,price_norm_prop_srch
0,2,2012-11-05 21:28:38,15,55,NaN,NaN,98,3105,3,2.0,...,1.921683,115.531818,102.910,55.242827,2.0,2.0,0.0,1.642201,0.888046,0.613727
1,2,2012-11-05 21:28:38,15,55,NaN,NaN,98,6399,3,0.0,...,1.921683,41.858125,38.060,8.871601,0.0,0.0,0.0,-0.846063,1.405820,1.113431
2,2,2012-11-05 21:28:38,15,55,NaN,NaN,98,7374,4,3.5,...,1.921683,228.067143,90.740,676.597142,3.5,3.5,0.0,0.308025,-0.181197,-0.418201
3,2,2012-11-05 21:28:38,15,55,NaN,NaN,98,7771,3,4.5,...,1.921683,31.745455,27.730,11.559451,4.5,4.5,0.0,-0.918278,1.676943,1.375093
4,2,2012-11-05 21:28:38,15,55,NaN,NaN,98,12938,3,0.0,...,1.921683,41.412143,42.565,3.559505,0.0,0.0,0.0,-1.314785,-2.205965,-2.372307