In [6]:
import pandas as pd
import numpy as np
from multiprocessing import Pool, cpu_count

4

In [4]:
df = pd.DataFrame()
df["a"] = [1, 2, 3, 4, 5]
df["b"] = [2, 4, 6, 8, 10]
df

   a   b
0  1   2
1  2   4
2  3   6
3  4   8
4  5  10

In [18]:
def apply_sum(df):
    df["c"] = df.a + df.b
    return df

def parallel_apply(df, func):
    chunks = np.array_split(df, cpu_count())
    with Pool(cpu_count()) as p:
        ret_list = p.map(func, chunks)
    return pd.concat(ret_list)

In [21]:
parallel_apply(df, apply_sum)

2    3
Name: a, dtype: int643    4
Name: a, dtype: int644    5
Name: a, dtype: int640    1
1    2
Name: a, dtype: int64

   a   b   c
0  1   2   3
1  2   4   6
2  3   6   9
3  4   8  12
4  5  10  15

In [23]:
df["t"] = ["a", "b", "a", "b", "a"]
df

In [34]:
grouped = df.groupby("t")
groups = [g for g in grouped]
groups[0][1]

   a   b  t
0  1   2  a
2  3   6  a
4  5  10  a